################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp/v16
/.vs/WWWProject/v16/.suo
/.vs/VSWorkspaceState.json
/WebApp/wwwroot/images
