input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 4px 20%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    text-align: left;
    float: left;
    padding: 16px 0 0 20%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 32px 0 16px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

button:hover {
    opacity: 0.8;
}