ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A2D35;
}

.navigation_bar{
    float: left;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #666;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2A2D35;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active{
    background-color: rgb(24, 26, 31);
}

.logout_button{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 17px 16px 18px 16px;
    margin-bottom: 1px;
    text-decoration: none;
    background: #2A2D35;
    cursor: pointer;
    border: #2A2D35;
}

.logout_button:hover{
    background-color: #666;
}