.drag_and_drop{
    width: 80%;
    margin: auto;
    margin-top: 16px;
    min-height: 250px;
    border: dashed 2px lightslategray;
    background-color: rgba(1,1,1,0.1);
}

.placeholder{
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center
}

.uploaded_image{
    margin: 8px 8px 0 8px;
    border: 2px white solid;
}

.uploaded_image_name{
    margin-bottom: 2px;
    font-size: 20px;
}