.card{
    background-color: #3C3E47;
    border: 2px solid #3C3E47;
    border-radius: 5px;
    height: 100px;
    width: 50%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}